# modules
**/node_modules

## Cache
**/.jest-cache/
**/.eslintcache

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/cache
.pnp.*

# build file
**/dist/
**/junit.xml

# local files
**/local/**
*.log
report/
tmp
temp
.env
init-env.sh

# IDE configs
**/sftp-config.json
.vscode
!.idea
